.about-dreamwork-slider {
  .about-dreamwork-wrapper {
    width: 100%;
  }

  .about-dreamwork {
    width: 100%;
    padding-top: calc(1120 / 1880 * 100%);

    background-position: center;
    background-size: 100% 100%;
  }
}
