.about-dream-work {
  width: 100%;
  padding: 110px 40px 80px;

  background-color: $main-text-color;

  &-title {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
}
.about-dreamwork-slider {
  .about-dreamwork-wrapper {
    width: 100%;
  }

  .about-dreamwork {
    width: 100%;
    padding-top: calc(1120 / 1880 * 100%);

    background-position: center;
    background-size: 100% 100%;
  }
}

.about-dreamwork-text {
  position: relative;
  display: flex;
  margin: auto;
  width: fit-content;
  justify-content: space-around;

  margin-bottom: 40px;

  &::after {
    content: "";
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.about-dreamwork-item {
  color: rgba(255, 255, 255, 0.8);
  padding: 24px 36px;
  transition: all linear 0.2s;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  z-index: 1;
}

.about-dreamwork-item.active-index {
  color: $hover-color;
  border-bottom-color: $hover-color;
}

.about-dreamwork-item:hover {
  color: rgba(255, 255, 255, 1);

  cursor: pointer;

  border-bottom-color: $hover-color;
}
