.profile {
  position: relative;
  width: 1100px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  z-index: 111;
  padding: 0 50px;

  > div {
    float: left;
  }
  .profile-name {
    position: relative;
    width: 20%;
    margin-right: 40px;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: right;
  }

  .profile-inner {
    position: relative;
    width: 80%;
    height: auto;

    .profile-image {
      position: relative;

      .artist-img {
        width: 530px;
        height: 675px;

        img {
          object-fit: fill;
        }
      }
    }

    .profile-txt {
      position: absolute;
      width: 275px;
      bottom: 50px;
      right: 0;

      .name-title {
        font-family: "Montserrat";
        font-size: 25pt;
        font-weight: 600;
      }
    }
  }
}
